body { /* For Background-Image*/
  background-image: linear-gradient(rgba(0, 0, 0, 0.295),rgba(0, 0, 0, 0.432)), url("about.jpg");
  height: 741px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  
 }

.container {
  position: absolute;
  margin: 20px;
  width: auto;
 }

.topnav {
  overflow: hidden;
  position: fixed;
  width: 100%;
  align-items: flex-start;
}

.topnav a {
  float: right;
  color:rgb(129, 88, 121);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
}

.topnav a:hover {
  background-color: rgb(223, 191, 216);
}

.container {
  width: 30%;
  height: 70%;
  position: fixed;
  top: 17%;
  left: 35%;
  border-radius: 50%;
}

.container1 {
  font-size: 117%;
  text-align: center;
  position: absolute;
  font-family: sans-serif;
  left: 0.2%;
  top: 15%;
  color: rgb(175, 163, 163);
}

.hero-text {
  font-size: 120%;
  text-align: center;
  position: absolute;
  font-family: sans-serif;
  right: 3.5%;
  top: 15%;
  color: rgb(175, 163, 163);
}

.hero-text2 {
  font-size: 120%;
  text-align: center;
  position: absolute;
  font-family: sans-serif;
  left: 5.3%;
  top: 52%;
  color: rgb(175, 163, 163);
}

.hero-text3 {
  font-size: 120%;
  text-align: center;
  position: absolute;
  font-family: sans-serif;
  right: 3.5%;
  top: 52%;
  color: rgb(175, 163, 163);
}

h1 {
  color: rgb(129, 88, 121);;
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: rgb(175, 163, 163);
  text-align: center;
}