body { /* For Background-Image*/
  background-image: linear-gradient(rgba(0, 0, 0, 0.295),rgba(0, 0, 0, 0.432)), url("image1.jpg");
  height: 715px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
 }

.container {
  position: absolute;
  margin: 20px;
  width: auto;
 }

.topnav {
  overflow: hidden;
  position: fixed;
  width: 100%;
  align-items: flex-start;
}

.topnav a {
  float: right;
  color:rgb(129, 88, 121);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
}

.topnav a:hover {
  background-color: rgb(223, 191, 216);
}

h1 {
  font-family: 'The Girl Next Door';font-size: 50px;
  color: rgb(129, 88, 121);
  margin-left: 20px;
  top: 27%;
  text-align:center;
}

p {
  color: rgb(223, 191, 216);
  margin-left: 20px;
  font-size: 20px;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

input[type=text], select {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(129, 88, 121);
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 15%;
  background-color:rgb(129, 88, 121);
  color: rgb(223, 191, 216);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-items: right;
}

input[type=submit]:hover {
  background-color: rgb(223, 191, 216);
}

textarea[id=subject], select {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(129, 88, 121);
  border-radius: 4px;
  box-sizing: border-box;
  
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}
